@import "variables";

.card {
  &.product {
    height: 100%;
    border-color: $primary;
    padding: 1px;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-title {
        flex: 1;
        text-align: center;
      }
    }

    .card_img {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 120px;

      img {
        width: 120px;
        height: 120px;
      }
    }

    .card-mod {
      position: absolute;
      top: 1rem;
      right: 3rem;
      display: flex;
      width: 0;
      align-items: center;

      &_icon {
        display: flex;
        flex: 0 0 24px;
        justify-content: center;
        align-items: center;
        height: 24px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 9;
      }

      &__prescription > .card-mod_icon {
        background-image: url(../assets/images/content/warning-red.svg);
      }

      .store-delivery_icon,
      &__delivery > .card-mod_icon {
        background-image: url(../assets/images/content/delivery.svg);
      }

      &_text {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        max-width: 0;
        overflow: hidden;
        line-height: 1;
        white-space: nowrap;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 1rem;
        padding: 0 0 0 1.5rem;
        transform: translateX(-24px);
        transition: all 0.5s ease-out 0s;
        transition-property: max-width, padding, transform;
        z-index: 5;
      }

      &:hover {
        > .card-mod {
          top: 15px;
          right: 39px;
        }

        > .card-mod_text {
          max-width: 108px;
          padding: 0.1rem 0.75rem;
        }

        &.card-mod__prescription > .card-mod_text {
          transform: translateX(-124px);
        }

        &.card-mod__delivery > .card-mod_text {
          transform: translateX(-108px);
        }
      }
    }

    .marker {
      text-align: center;
      color: #28a745;
      font-size: 0.95rem;

      &__red {
        color: #dc3545;
      }
    }

    .cart-add {
      width: 100%;
    }

    .btn {
      width: 100%;
    }
  }

  &:hover {
    border-width: 2px;
    padding: 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);

    [class^="icon-"] {
      top: calc(1rem - 1px);
      left: calc(1rem - 1px);
    }

    .card-mod {
      top: calc(1rem - 1px);
      right: calc(3rem - 1px);
    }
  }

  .favorite {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    &_title {
      font-size: 1.25rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    &_remove {
      cursor: pointer;
    }
  }

  .price {
    .mask {
      text-align: center;
      color: #666;
      background-color: #ccc;
      cursor: pointer;
    }
  
    .real {
      display: none;
      text-align: center;
      font-size: 1.25rem;
    }
  }
}

.icon-heart,
.icon-heart-empty {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.75rem;
  line-height: 1;
  color: #27bfc1;
  cursor: pointer;
  z-index: 9;
}

.description {
  border-top: 1px solid $primary;
  padding-top: 1rem;

  &-item {
    background: #e6eded;
    margin-bottom: 1rem;

    &_title {
      display: flex;
      justify-content: space-between;
    }

    &_title,
    &_body {
      padding: 0.5rem 1rem;
    }
  }

  &-info {
    display: inline-flex;

    &::after {
      font-size: 0.85rem;
      margin-left: 0.5rem;
    }
  }

  &-item_title,
  &-info {
    align-items: center;
    font-weight: 900;
    margin: 0;
    cursor: pointer;
  }
}

.store {
  &-item {
    margin-bottom: 1rem;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    &_title {
      display: flex;
      align-items: center;
      background: #fff !important;

      * {
        font-weight: 600;
        margin: 0;
      }

      p {
        font-size: 1.2rem;
      }
    }

    &_title,
    &_body {
      padding: 1rem;
    }
  }
}

.page {
  text-align: justify;
  background: #f2f2f2;
  border-top: 2px solid #27bfc1;
  border-bottom: 2px solid #27bfc1;
  padding: 1rem;
  margin: 0;

  p {
    text-indent: 2.5rem;
  }

  .contacts p {
    text-indent: unset;
  }

  .address {
    align-items: center;
    line-height: 2;
    border-top: 1px solid #ddd;
    padding: 0.5rem;

    .store-delivery_icon {
      width: 24px;
      height: 24px;
      background-image: url(../assets/images/content/delivery.svg);
      background-repeat: no-repeat;
      background-position: center;

      &:hover::before {
        content: "Возможно доставка";
        position: absolute;
        top: -22px;
        left: 0;
        display: inline-block;
        font: 14px/1 "Source Sans Pro", sans-serif;
        color: #337ab7;
        background-color: #f5f5f5;
        border-radius: 0.25rem;
        padding: 0.25rem;
      }
    }
  }

  .advantage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &_title {
      flex: 1 100%;
    }

    &_text {
      flex: 1;
      margin-left: 1rem;
    }
  }

  .delivery-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    background: #fff;
    border: 2px solid #009577;
    padding: 20px;
    margin: 1rem auto;
    box-sizing: border-box;

    .delivery-item {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;

      &:not(:last-child) {
        border-bottom: 2px solid #f4f4f4;
      }
    }

    img {
      margin-right: 1rem;
    }
  }
}

.cart {
  &_header {
    display: none;
    color: #757a7a;
    font-weight: bold;
    background: #f4f4f4;
    padding: 0.5rem;
    margin: 0;
  }

  .product {
    min-height: 120px;
    border-top: 1px solid #f2f2f2;
    margin: 0;

    img {
      max-width: 200px;
      max-height: 200px;
    }

    &_title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }

    &_price {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}

.cart-remove,
.favorite-remove {
  font-family: 'icon';
  text-align: center;
  color: rgba($secondary, 0.45);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: "\ea0f";
    cursor: pointer;
  }
}

.input-product {
  width: 110px;
}

.input-number {
  text-align: center;
  border-color: $primary;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.checkout {
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  padding: 1.5rem 0;

  .radio-button {
    width: 100%;
    height: 80px;
    border: 1px solid #999;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.25rem 0;
    cursor: pointer;

    &::after, &::before {
      content: none !important;
    }

    &:focus,
    &:focus-within {
      border: 2px solid #24b5b7;
    }

    &.active {
      border: 2px solid #24b5b7;

      .radio-button_pin:before {
        transform: scale(1);
      }
    }

    &_pin {
      appearance: none;
      position: absolute;
      width: 20px;
      height: 20px;
      font: inherit;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 50%;
      margin: 0;

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border: 6px solid #1f999a;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    &_text {
      margin-left: 40px;

      span {
        display: block;
        font-size: 14px;
        line-height: 15px;
        color: #999;
        padding-top: 0.25rem;
      }
    }
  }
}

ul, ol {
  li {
    text-indent: 0;
  }
}

ul.list_item__dashed {
  li {
    list-style-type: '-';
  }
}

.scale-1_5 > * {
  transform: scale(1.5);
}

@media (min-width: 576px) {
  .page {
    padding: 2rem;
  }

  .favorite-toggle {
    left: 1.5rem;
  }
}

@media (min-width: 992px) {
  .page {
    padding: 2rem 3rem;
  }
}

@media (min-width: 1200px) {
  .page {
    padding: 2rem 5.5rem;
  }

  .card.product {
    .cart-add {
      font-size: 1.25rem;
      border-radius: 0.3rem;
      padding: 0.5rem 1rem;
    }

    .card_img {
      min-height: 200px;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
