@import "variables";

html,
body {
    display: flex;
    flex-direction: column;

    main {
        flex: 1;
    }
}

a {
    color: $primary;
    text-decoration: none;
}

.product-link {
    color: #337ab7;

    &:hover {
        color: #23527c;
    }
}

.btn {
    &-primary {
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: #1ca59a;
            box-shadow: none;
        }
    }

    &-outline-primary {
        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }
}

.alphabet {
    margin: 1.5rem 0;

    a {
        font-size: 16px;
        font-weight: 600;
        padding: 6px;

        &:hover {
            color: #ffbb34;
        }

        &.disable{
            color: #ddd;
            pointer-events: none;
        }

        &.active{
            color: #d3301a;
        }
    }
}

.nav-item.sale {
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        right: 16px;
        width: 64px;
        height: 38px;
        background-image: url(../images/sale.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.btn:focus,
.btn-check:focus + .btn,
.btn-outline-primary:focus,
.btn-check:focus + .btn-outline-primary {
    box-shadow: none;
}

.btn-outline-primary:focus:not(:hover),
.btn-outline-primary:active:not(:hover) {
    color: #27bfc1;
}

.modal-open {
    overflow: hidden;
}
