.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* flex */
.flex{
    display: flex;
}
.flex-vertical-center{
    display: flex;
    align-items: center;
}



/* address */
.site-address .table td {
    vertical-align: middle;
}
.site-address .table td span {
    margin-left: 15px;
}

/* content */
.content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    text-align: center;
}
.content p{
    text-indent: 25px;
}
.content span, .content p{
    font-size: 16px;
}
.content ul {
    margin-left: 25px;
}
.content li > p{
    text-indent: unset;
}
/* menu */
.menu *{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
}
.menu > ul li{
    position: relative;
}
.menu li{
    list-style: none;
    background: #fff;
    padding: 10px;
}
.menu li ul {
    position: absolute;
    width: 200px;
    display: none;
    z-index: 1;
}
.menu li:hover > ul {
    display: block;
}
.menu li > ul li { border: 1px solid #c7c8ca; }
.menu li > ul li ul {
    position: absolute;
    right: -200px;
    top: 0;
}

/* modal */
.modal input{
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: none;
}
.modal label{
    font-size: 14px;
    color: #999999;
    font-weight: normal;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.modal span{
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.modal span a{
    color: #27bfc1;
}

.modal-xmd{
    width: 550px!important;
}
/* центрируем модальное окно по вертикали и горизонтали */
.modal{
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* radio-button */

.radio-button{
    height: 80px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 0;
}
.radio-button ul{
    margin: 0;
    padding: 0;
}
.radio-button .radio-button-pin{
    height: 20px;
    width: 20px;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: 15px;
    position: absolute;
}
.radio-button .radio-button-text{
    color: #000;
    list-style: none;
    margin-left: 45px;
    margin-top: 15px;
    font-size: 16px;
}
.radio-button span{
    display: block;
    color: #999;
    line-height: 15px;
    padding-top: 5px;
    font-size: 14px;
}
.radio-button.active{
    border: 2px solid #24b5b7;
}
.radio-button.active .radio-button-pin{
    border: 6px solid #1f999a;
}
.radio-button.disable {
    cursor: not-allowed;
}
.radio-button.disable .radio-button-text {
    color: #999;
}

/* label */
.required label:after {
    content: "*";
    color: red;
    margin-left: 5px;
}

/* fixed */

.fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

/*========= Filters ==============*/
ul.ajax {
    clear: both;
}
.ajax, .ajax ul, .ajax li{
    padding: 0;
    list-style: none;
}
.ajax > li{
    border: 1px solid #27bfc1;
    margin: 10px 0;
    padding: 10px;
    padding-left: 17px;
}
.ajax > li:last-child{
    border: none;
    margin: 0;
    padding: 0;
}
.ajax li span{
    font-weight: bold;
    font-size: 13px;
}
.ajax li > ul{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 1px;
    margin-top: 8px;
    font-size: 13px;
}

.accordion .tab input, .accordion .tab-content { display: none; }
.accordion .tab-title { display: block; user-select: none; cursor: pointer; }
.accordion .tab-title::after { content: '+'; float: right; }
.accordion .tab :checked + .tab-title::after { content: '−'; }
.accordion .tab :checked ~ .tab-content { display: block; }

/*============== Error Page =================*/
.site-error > * {
    text-align: center;
}
.site-error .image {
    max-width: 640px;
    margin: 3rem auto;
}
.site-error .image img {
    width: 100%;
}
.site-error p {
    font-size: 2rem;
}

/*==================================*/


.alerts {
    position: fixed;
    top: 92px;
    right: 8px;
    width: 320px;
    z-index: 1099;
}

/*========= Col ================*/
.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

/* bootstrap add media */
@media (max-width: 575px) {
    .col-1 {
        width: 8.333333%;
    }
    .col-2 {
        width: 16.666667%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.333333%;
    }
    .col-5 {
        width: 41.666667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.333333%;
    }
    .col-8 {
        width: 66.666667%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.333333%;
    }
    .col-11 {
        width: 91.666667%;
    }
    .col-12 {
        width: 100%;
    }
    .col-offset-0 {
        margin-left: 0;
    }
    .col-offset-1 {
        margin-left: 8.333333%;
    }
    .col-offset-2 {
        margin-left: 16.666667%;
    }
    .col-offset-3 {
        margin-left: 25%;
    }
    .col-offset-4 {
        margin-left: 33.333333%;
    }
    .col-offset-5 {
        margin-left: 41.666667%;
    }
    .col-offset-6 {
        margin-left: 50%;
    }
    .col-offset-7 {
        margin-left: 58.333333%;
    }
    .col-offset-8 {
        margin-left: 66.666667%;
    }
    .col-offset-9 {
        margin-left: 75%;
    }
    .col-offset-10 {
        margin-left: 83.333333%;
    }
    .col-offset-11 {
        margin-left: 91.666667%;
    }
    .col-offset-12 {
        margin-left: 100%;
    }
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .text-xs-center {
        text-align: center;
    }
    .text-xs-right {
        text-align: right;
    }
    .text-xs-left {
        text-align: left;
    }
    .w-100-xs {
        width: 100%;
    }
    .w-auto-xs {
        width: auto;
    }
    .flex-wrap-xs{
        flex-wrap: wrap;
    }
    .alerts {
        top: 16px;
        right: calc((100% - 320px) / 2);
    }
}
@media (min-width: 768px) {
    .text-sm-center {
        text-align: center;
    }
    .text-sm-right {
        text-align: right;
    }
    .text-sm-left {
        text-align: left;
    }
    .w-100-sm {
        width: 100%;
    }
    .w-auto-sm {
        width: auto;
    }
    .flex-wrap-sm{
        flex-wrap: wrap;
    }
    .p-sm-0 {
        padding: 0;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media (min-width:992px){
    .text-md-center {
        text-align: center;
    }
    .text-md-right {
        text-align: right;
    }
    .text-md-left {
        text-align: left;
    }
    .w-100-md {
        width: 100%;
    }
    .w-auto-md {
        width: auto;
    }
    .flex-wrap-md{
        flex-wrap: wrap;
    }
}
@media (min-width:1200px){
    .text-lg-center {
        text-align: center;
    }
    .text-lg-right {
        text-align: right;
    }
    .text-lg-left {
        text-align: left;
    }
    .w-100-lg {
        width: 100%;
    }
    .w-auto-lg {
        width: auto;
    }
    .flex-wrap-lg{
        flex-wrap: wrap;
    }
}

.personal-links {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #757a7a;
    margin: .75rem 0 .75rem 1.5rem;
}
.personal-links:hover {
    color: #27bfc1;
}
.personal-links.active {
    color: #27bfc1;
}
