@import "../../styles/variables";

.apkButton {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 0.25rem;

    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 48px;

        &::before {
            content: '';
            position: absolute;
            left: 0.75rem;
            width: 96px;
            height: 40px;
            font-size: 1.2rem;
            color: #fff;
            background-image: url(../../assets/images/apk.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
