.accordion {
  position: relative;

  &-item {
    &_header {
      display: flex;
      align-items: center;
      font-weight: 700;
      text-decoration: none;
      transition: background-color 0.5s ease-in-out;

      &::after,
      &::before {
        display: inline-block;
        font-family: 'icon';
        transition: transform 0.35s ease;
        transform: rotate(-180deg);
      }

      &:not(.accordion-item_header__left-icon) {
        &::after {
          content: "\e803";
        }

        &__icon-plus::after {
          content: "+";
        }
      }

      &__left-icon::before {
        content: "\e803";
        margin-right: 0.5rem;

        &.accordion-item_header__icon-plus::before {
          content: "+";
        }
      }

      &__icon-plus {
        &::after,
        &::before {
          font-size: 1.5em;
          line-height: 0.5em;
          transform: rotate(-225deg);
          transition: transform 0.35s ease-in-out;
        }

        &.collapsed {
          background-color:#dae1e1;
        }
      }

      &.collapsed {
        &::after,
        &::before {
          transform: rotate(0);
        }
      }
    }

    div.accordion-item_header {
      justify-content: space-between;
      background-color: rgba($color: #dae1e1, $alpha: 0.5);
    
      &:hover {
        background-color: #dae1e1;
      }
    }
  
    &_body {
      height: auto;
      max-height: 100rem;
      font-size: 1rem;
      line-height: 1.5;
      overflow: hidden;
      transition: 0.8s;
      transition-property: max-height, padding;
  
      &.collapsed {
        max-height: 0;
        padding: 0;
      }
    }
  }
}

.animateIn {
  animation-name: accordionIn;
  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.animateOut {
  animation-name: accordionOut;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
