@import '../../styles/variables';

.dialog {
  max-width: 480px;
}

.auth {
  border: 3px solid $primary;
  border-radius: 0.5rem;

  .button {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #d63517;
    border: 1px solid #d63517;
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover {
      background-color: darken($color: #d63517, $amount: 5);
      border-color: darken($color: #d63517, $amount: 5);
    }
  }
}
