.topInfo {
  grid-area: top-info;
  display: grid;
  grid-template-columns: minmax(120px, 100%) max-content;
  grid-column-gap: 1rem;
  align-items: center;

  .deliverySale {
    display: none;
    justify-content: center;
    align-items: center;
    grid-gap: 0.25rem;
    width: 0;
    max-height: 52px;
    margin-left: auto;
    transition: width 1s linear;

    &::before {
      display: inline-block;
      min-width: 60px;
      height: 24px;
      background-color: transparent;
      background-image: url(../../assets/images/delivery-car.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.show {
      width: 100%;

      &::before {
        content: "";
      }
    }

    &_text {
      font-size: 0.75rem;
      font-weight: 600;
      color: #d63517;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .auth {
    text-align: end;

    a {
      font-weight: 600;
    }

    .phone {
      font-size: 1rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }
  }
}

.chooseCity {
  font-weight: 600;

  .city {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .topInfo {
    grid-template-columns: auto 1fr auto;

    .deliverySale {
      display: flex;
    }
  }
}

@media (min-width: 992px) {
  .topInfo .deliverySale {
    grid-gap: 1rem;

    &::before {
      min-width: 86px;
      height: 34px;
    }

    &_text {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .topInfo .deliverySale {
    &::before {
      min-width: 112px;
      height: 44px;
    }

    &_text {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}

@media (min-width: 1400px) {
  .topInfo .deliverySale {
    &::before {
      min-width: 132px;
      height: 52px;
    }

    &_text {
      font-size: 1.5rem;
    }
  }
}
