@import "variables";

html, body {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

a {
  color: $primary;
  text-decoration: none;
}

.product-link {
  color: #337ab7;

  &:hover {
    color: #23527c;
  }
}

.btn {
  &-primary {
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: #1ca59a;
      box-shadow: none;
    }
  }

  &-outline-primary {
    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
  }
}

.input-group {
  .btn[data-type='-'] {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .btn[data-type='+'] {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

.alphabet {
  margin: 1.5rem 0;

  a {
    font-size: 16px;
    font-weight: 600;
    padding: 6px;

    &:hover {
      color: #ffbb34;
    }

    &.disable {
      color: #ddd;
      pointer-events: none;
    }

    &.active {
      color: #d3301a;
    }
  }
}

.btn:focus,
.btn-check:focus + .btn,
.btn-outline-primary:focus,
.btn-check:focus + .btn-outline-primary {
  box-shadow: none;
}

.btn-outline-primary:focus:not(:hover),
.btn-outline-primary:active:not(:hover) {
  color: #27bfc1;
}

.modal-open {
  overflow: hidden;
}

@media (min-width: 576px) {
  html, body {
    font-size: 16px;
  }
}
